* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Aboreto", system-ui;
}

body {
    background-color: #FF7134;
    color: black;
    width: 1366;
    height: 1233;
}

nav {
    display: flex;
    flex-direction: row;

}

div .logo {

    padding: 30px;


    font-size: 18;
    color: white;
    -webkit-text-stroke: 2px #4D3333;
    paint-order: stroke fill;



}

.logo span {
    color: black;
    -webkit-text-stroke: 2px #4D3333;
    paint-order: stroke fill;


}

.logo:hover {
    cursor: pointer;
}

nav ul {
    list-style-type: none;
}
nav .NavBar ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Aclonica';
    text-transform: uppercase;
    font-size: 14;
    background-color: #FFDCBA;
    border-radius: 50px;
    align-items: center;
    padding: 12px;
    margin: 34px 68px;

    

}

footer{
    background-color: #FFDCBA;
}

footer .logo{
    display: flex;
    flex-direction: column;
    justify-self: self-end;
    text-align: center;
    padding-right: 30px;
}

address{
    justify-self: self-end;
    justify-content: right;
}

footer li{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
}

footer ul{
    list-style-type: none;

}

footer a{
    text-decoration: none;
    color:#000000;
}

footer #copyright{
    font-size: 8px;
    text-align: center;
    padding: 15px 80px;
}