body {
    padding: 0px;
    margin: 0px;
    background-color: #FF7134;
}

nav {
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 0px; 
}

nav a {
    display: inline;
    padding: 17px;
    margin-left: 50px;
    text-decoration: none;
}

.boxes a {
    font-family: 'Aclonica';
    background-color: #FFDCBA;
    border: solid, #FFDCBA;
    border-radius: 30px;
}

.search-container{
    margin-top: -5px;
    margin-left: auto;
    align-items: center;
}

.search-container input[type = text]{
    padding: 6px;
    font-size: 17px;
    border: none;
    margin-left: 0px;
}

.search-container button{
    border: none;
    cursor: pointer;
   
}

.search-container button img{
    padding: 0px;
    height: 26px;
    width: 25px;
    margin-bottom: 0px;
}

.logo a {
    display: inline;
    background-color:  #FF7134;
    border: none; 
}

.logo img{
    text-align: left;
    height: 40px;
    padding: 0px;
    margin: 0px;
    margin-bottom: -15px;
}
