body {
    padding: 0px;
    margin: 0px;
    background-color: #FF7134;
    font-size: 16px;
}

/* CSS for NavBar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4vw;
    background-color:  #FF7134;
    gap: 2rem;
    
}

nav a {
    font-family: 'Aclonica';
    color: black;
    font-size: 1rem;
    text-decoration: none;
    background-color: #FFDCBA;
    border: none;
    border-radius: 2rem;
    padding: 0.6em 1.2em;
    margin-left: 0 1em;
    gap: 4rem;
}

.search-container{
    display: flex;
    margin-left: auto;
    align-items: center;
    border: solid, black;
}

.search-container input[type = text]{
    padding: 0.4em 0.8em;
    font-size: 1rem;
    border: none;
}

.search-container button{
    border: none;
    cursor: pointer;
   
}

.search-container button img{
    height: 1.825rem;
    width: 1.8rem;
    vertical-align: middle;
}

.logo a {
    background-color: #FF7134;
    border: none; 
}

.logo img{
    height: 2.5rem;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
/*End CSS for NavBar */
