<<<<<<< HEAD
nav {
    display: flex;
    flex-direction: row;

}

div .logo {

    padding: 30px;


    font-size: 18;
    color: white;
    -webkit-text-stroke: 2px #4D3333;
    paint-order: stroke fill;



}

.logo span {
    color: black;
    -webkit-text-stroke: 2px #4D3333;
    paint-order: stroke fill;


}

.logo:hover {
    cursor: pointer;
}
=======
.navBar {
    background-color: orange;
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px
}

.navBar li{
    display: inline;
    text-decoration: none;
}
>>>>>>> 2f9967fc5439814cba44504f1e18392e80caa4f4
