
div .logo {

    padding: 30px;


    font-size: 18;
    color: white;
    -webkit-text-stroke: 2px #4D3333;
    paint-order: stroke fill;



}

.logo span {
    color: black;
    -webkit-text-stroke: 2px #4D3333;
    paint-order: stroke fill;


}

.logo:hover {
    cursor: pointer;
}

.navBar {
    background-color: orange;
    padding: 10px;
}

.navBar li{
    display: inline;
    text-decoration: none;
}

body {
    font-family: 'Abril Fatface';