.blog-card {
    display: flex;
    flex-direction: row;   
    gap: 2rem;                  
    width: 90%;
    margin: 0rem auto;
    background-color: #FFD005;
    border-radius: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

.main-article {
    flex: 2;                   
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main-article img {
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.main-article h4 {
    font-size: 1.5rem;
}

.main-article button {
    font-family: 'Abril Fatface';
    font-size: 1.5rem;
    padding: 0.7rem 1.5rem;
    border: none;
    background-color: red;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.blog-carousel {
    flex: 1;                 
    display: flex;
    flex-direction: column;     
    gap: 1rem;
    align-items: center;
}


.blog-carousel img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}
.contact-form button[type="submit"] {
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 2rem;
    padding: 0.8em 1.6em;
    font-size: 1.2rem;
    font-family: 'Aclonica';
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}
