.card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: #FFD005;
    margin: auto;
    width: 65%;
    border: solid, #FFD005;
    border-radius: 2rem;
    
}

.card img {
    flex: 1;
    max-width: 60%;
    height: auto;
    margin: 2rem;
    object-fit: cover;
    
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.card-content h1 {
    display: block;
    font-family: 'Abril Fatface';
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    word-wrap: break-word;
}

.card-content h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 'Aclonica';
    word-wrap: break-word;
    
}

.card-content button {
    display: flex;
    flex-wrap: wrap;
    border: none;
    border-radius: 2rem;
    background-color: #FF0000;
    color: white;
    font-size: 2rem;
    padding: 0.4em 0.8em;
    font-family: 'Adamina';
    font-weight: bold;
}

.card-content a {
    text-decoration: none;
}

.banner {
    background-color: #FF0000;
    padding: 0.4em 0.8em;
}

.banner h3 {
    color: white;
    font-family: 'Aclonica';
    text-align: center;
}

.japanese-text {
    font-family: 'RampartOne';
}