h3 {
    display: block;
    width: 100%;
    margin: 0;
    background-color: #FFDCBA;
    text-align: center;
    font-family: 'Aclonica';
    padding: 1rem;
    font-size: 2rem;
}

h4 { 
    font-family: 'Aclonica';
    font-size: 1.5rem;
    margin-left: 5rem;
}

a:hover {
    color: blue;
}

.shop-categories {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}


.shop-categories img {
    width: 13vw;          
    height: 13vw;              
    border-radius: 60%;
    object-fit: cover;

}

.shop-categories a {
    text-decoration: none;
    color: black;
}

.shop-categories a:hover {
    color: blue;
}

.shop-categories h5{
    border: none;
    background-color:  #FFD005;
    border-radius: 2rem;
    text-align: center;
    font-family: 'Aclonica';
    padding: 1rem;
}

.image-banner img{
    width: 100%;
    height: auto;         
    display: block;       
    object-fit: cover;
}

a{
    text-decoration: none;
    color: black;
}

/* ========== RESPONSIVE DESIGN ========== */
/* Mobile (0 - 600px) */ 
@media (max-width: 600px) {
    h3 {
        font-size: 1.4rem;
        padding: 0.8rem;
        width: 100%;
    }

    h4 {
        font-size: 1.1rem;
        margin-left: 1rem;
    }

    .shop-categories {
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
    }

    .shop-categories a {
        width: 40%;
        text-align: center;
    }

    .shop-categories img {
        width: 30vw;
        height: 30vw;
    }

    .shop-categories h5 {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    .image-banner img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

/* Tablet (600px - 1024px) */
@media (min-width: 600px) and (max-width: 1024px){
    h3 {
        width: 100%;
        justify-content: center;
        font-size: 1.6rem;
        padding: 0.8rem;
    }

    h4 {
        font-size: 1.3rem;
        margin-left: 2rem;
    }

    .shop-categories {
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .shop-categories img {
        width: 20vw;
        height: 20vw;
    }

    .shop-categories h5 {
        font-size: 1rem;
        padding: 0.7rem;
        max-width: 20vw;;
    }
}